Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/__ExternalActors__/LevelPrototyping/Untitled_WP/0/I2/SZFM1TPZJM0OQMNT3R5LHF.uasset
Content/Characters/Teuthisan/Rig/SKM_Teuthisan_rig_v001.uasset
